# Game Data
/Lethal Company_Data/
/Lethal Company.exe
/MonoBleedingEdge/
/nvngx_dlss.dll
/NVUnityPlugin.dll
/UnityCrashHandler64.exe
/UnityPlayer.dll

# BepInEx
/BepInEx/cache/
/BepInEx/LogOutput.log
/BepInEx/mods.json
