# Game Data
/Lethal Company_Data/
/Lethal Company.exe
/MonoBleedingEdge/
/nvngx_dlss.dll
/NVUnityPlugin.dll
/UnityCrashHandler64.exe
/UnityPlayer.dll

# BepInEx
/BepInEx/cache/
/BepInEx/LogOutput.log
/BepInEx/mods.json

# AutoHookGenPatcher MMHOOK
/BepInEx/plugins/MMHOOK/

# Imperium
/BepInEx/config/giosuel.Imperium.cfg

# InputUtils Overrides
/BepInEx/config/controls/

# Portable Git
/git/

# Portable 7-Zip
/7z/
