[Tag Mods]

## Modifies skylights depending on the moon.
# Setting type: Boolean
# Default value: true
Biome Skylights = true

## Modifies Ceiling Lights. Acceptable Values (Default, Cold, Hot, Sickly, Tagged)
# Setting type: String
# Default value: Default
Interior Lighting = Default

