[Spawning]

## If set to false will disable any scripts that spawn outside enemies. ONLY DISABLE THIS IF YOU KNOW WHAT YOU ARE DOING. LunarConfig or LLL have to be used to set outside enemies when this is set to false.
# Setting type: Boolean
# Default value: true
Outside Enemies = true

