## Settings file was created by plugin Rolling Chair v1.0.0
## Plugin GUID: ccode.chair

[General]

## The movement speed of the chair.
# Setting type: Single
# Default value: 0.6
Roll Speed = 0.6

## The volume of the rolling sound effect. This setting is client side.
# Setting type: Single
# Default value: 0.5
Roll Volume = 0.5

## Moons that it will spawn on. Format as: "MoonName:SpawnWeight".
# Setting type: String
# Default value: All:75
Moons = All:75

