## Settings file was created by plugin LCUltrawide_Community v1.3.1
## Plugin GUID: com.github.lethalcompanymodding.LCUltrawide

[Resolution Override]

## Use this to up or downscale your game camera rendering resolution.
## The game's default gameplay camera rendering resolution of 860x520 is multiplied by the value in this configuration item.
## Game default value: 1
## WARNING: Increasing the multiplier is more costly on your PC's Hardware. Use with caution!
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0.1 to 4
Gameplay Camera Resolution Multiplier = 1

## Use this to up or downscale your terminal rendering resolution.
## The game's default terminal rendering resolution of 960x580 is multiplied by the value in this configuration item.
## Game default value: 1
## WARNING: Increasing the multiplier is more costly on your PC's Hardware. Use with caution!
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0.1 to 4
Terminal Resolution Multiplier = 1

[UI]

## Changes the size of UI elements on the screen.
## Game default value: 1
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0.5 to 1.5
Scale = 1

## Changes the aspect ratio of the in-game HUD, a higher number makes the HUD wider.
## (0 = auto, 1.33 = 4:3, 1.77 = 16:9, 2.33 = 21:9, 3.55 = 32:9)
# Setting type: Single
# Default value: 0
AspectRatio = 0

