## Settings file was created by plugin CompanyHauler v1.1.2
## Plugin GUID: glojam.CompanyHauler

[General]

## Enable rendering for the side mirrors (may impact performance for low end hardware)
# Setting type: Boolean
# Default value: true
MirrorOn = true

## Max health of the Hauler (default: 100). For reference, the Cruiser has a max health of 30.
# Setting type: Int32
# Default value: 100
Health = 100

## Allow leaning in the driver seat to see out the back window.
# Setting type: Boolean
# Default value: true
AllowLean = true

## Automatically center the steering wheel
# Setting type: Boolean
# Default value: false
AutoCenter = false

