## Settings file was created by plugin YPlayBoombox v2.7.0
## Plugin GUID: kerotein.YPlayBoombox

[Keybinds]

## Sync to another boombox or cruiser, or resync (redownload) the audio.
# Setting type: KeyboardShortcut
# Default value: Q
Sync keybind = Q

## Reset the playback time to 0 and stop playback.
# Setting type: KeyboardShortcut
# Default value: R
Reset keybind = R

## Increase the boombox volume.
# Setting type: KeyboardShortcut
# Default value: PageUp
Boombox volume up keybind = PageUp

## Decrease the boombox volume.
# Setting type: KeyboardShortcut
# Default value: PageDown
Boombox volume down keybind = PageDown

## Navigate to the next page in your play history.
# Setting type: KeyboardShortcut
# Default value: RightArrow
Play history next keybind = RightArrow

## Navigate to the previous page in your play history.
# Setting type: KeyboardShortcut
# Default value: LeftArrow
Play history previous keybind = LeftArrow

[Settings]

## [HOST] Copy the audio and time of another boombox or cruiser, and allow them to play the same audio. NOTE: This is resource intensive but offers more features and accurate syncing.
# Setting type: Boolean
# Default value: false
Sync = false

## [HOST] Boomboxes are spawned with a random color!
# Setting type: Boolean
# Default value: false
Boombox random color = false

