## Settings file was created by plugin Biodiversity v0.2.9
## Plugin GUID: com.github.biodiversitylc.Biodiversity

[Leafboy]

## Whether the Leaf boy will spawn in games.
# Setting type: Boolean
# Default value: true
LeafBoyEnabled = true

## Spawn weight of the Leaf boys on all moons. You can to add to it any moon, just follow the format (also needs LLL installed for LE moons to work with this config).
# Setting type: String
# Default value: Vow:100,Adamance:15,Assurance:85,Artifice:2,Seichi:10,Fray:300,Vertigo:5,Integrity:25,Collateral:10,Hydro:38,Brutality:15,USC Vortex:12,Phaedra:35,Valiance:28,Natit:8,Starship-13:30,Motra:8,Filitrios:4,Utril:8,Kanie:10,Terra:25,Consolidation:21
LeafBoyRarity = Vow:100,Adamance:15,Assurance:85,Artifice:2,Seichi:10,Fray:300,Vertigo:5,Integrity:25,Collateral:10,Hydro:38,Brutality:15,USC Vortex:12,Phaedra:35,Valiance:28,Natit:8,Starship-13:30,Motra:8,Filitrios:4,Utril:8,Kanie:10,Terra:25,Consolidation:21

## The distance a player has to be from a Leaf boy for him to get scared.
# Setting type: Single
# Default value: 3
# Acceptable value range: From 1 to 20
LeafBoyScaryPlayerDistance = 3

## The normal speed of a Leaf boy.
# Setting type: Single
# Default value: 1.5
# Acceptable value range: From 0.5 to 20
LeafBoyBaseMovementSpeed = 1.5

## The speed of a Leaf boy when they are scared.
# Setting type: Single
# Default value: 4
# Acceptable value range: From 1 to 20
LeafBoyScaredSpeedMultiplier = 4

## The time it takes for a Leaf boy to calm down (stop being scared) when left alone.
# Setting type: Single
# Default value: 3
# Acceptable value range: From 1 to 120
LeafBoyPlayerForgetTime = 3

[Prototax]

## Whether the Prototax will spawn in games.
# Setting type: Boolean
# Default value: true
FungiEnabled = true

## Spawn weight of the Prototax on all moons. You can to add to it any moon, just follow the format.
# Setting type: String
# Default value: Experimentation:80,March:45,Artifice:10,Solace:80,Fray:32,Seichi:16,Olympus:15,Arelion:6,Hydro:38,Collateral:8,Corrosion:5,Icebound:20,USC Vortex:8,Mycorditum:34,Phaedra:10,Pelagia:40,Derelect:21,Sorrow:24,Phuket:40,Rorm:18,Starship-13:25,Trite:8,Utril:42,Kanie:20,Bilge:45
FungiRarity = Experimentation:80,March:45,Artifice:10,Solace:80,Fray:32,Seichi:16,Olympus:15,Arelion:6,Hydro:38,Collateral:8,Corrosion:5,Icebound:20,USC Vortex:8,Mycorditum:34,Phaedra:10,Pelagia:40,Derelect:21,Sorrow:24,Phuket:40,Rorm:18,Starship-13:25,Trite:8,Utril:42,Kanie:20,Bilge:45

## Normal speed of the Prototax.
# Setting type: Single
# Default value: 3.5
# Acceptable value range: From 3 to 20
FungiNormalSpeed = 3.5

## Speed of the Prototax after being hit.
# Setting type: Single
# Default value: 6
# Acceptable value range: From 3 to 20
FungiBoostedSpeed = 6

## Length of boosted speed after being hit.
# Setting type: Single
# Default value: 8
# Acceptable value range: From 3 to 20
FungiBoostTime = 8

## Length of stunned time after being hit.
# Setting type: Single
# Default value: 3
# Acceptable value range: From 3 to 20
FungiStunTime = 3

