## Settings file was created by plugin Biodiversity v0.2.9
## Plugin GUID: com.github.biodiversitylc.Biodiversity

[_General]

## Whether the Junk Radar and buried scraps are able to spawn.
# Setting type: Boolean
# Default value: true
Enabled = true

## The chance in % for the Junk Radar to spawn on moons (100 is a guaranteed spawn).
# Setting type: Int32
# Default value: 80
# Acceptable value range: From 0 to 100
SpawnChance = 80

## Comma separated list of moons names where the Junk Radar and buried scraps are able to spawn (use "All" to allow it on all moons).
# Setting type: String
# Default value: Experimentation,March,Artifice
SpawnMoons = Experimentation,March,Artifice

## The min,max amount of buried scraps that will spawn on moons (if the Junk Radar is spawned).
# Setting type: String
# Default value: 5,7
BuriedScrapsAmountMinMax = 5,7

[BuriedScraps]

## If enabled, the songs of the Ogopogo Trophy item are copyright free.
# Setting type: Boolean
# Default value: true
OgopogoTrophyIsCopyrightFree = true

[RadarItem]

## The max distance at which the Junk Radar can detect underground buried scraps.
# Setting type: Int32
# Default value: 70
# Acceptable value range: From 1 to 200
MaxDetectionDistance = 70

