## Settings file was created by plugin Biodiversity v0.2.9
## Plugin GUID: com.github.biodiversitylc.Biodiversity

[CDog]

## Spawn weight (rarity) of the Ccodes dog scrap.
# Setting type: String
# Default value: All:20
Rarity = All:20

## Weight of the Ccodes dog scrap.
# Setting type: Single
# Default value: 1.05
# Acceptable value range: From 1 to 4
Weight = 1.05

## Minimum value that the Ccodes dog scrap can spawn with.
# Setting type: Int32
# Default value: 50
# Acceptable value range: From 0 to 1000
Minimum Value = 50

## Maximum value that the Ccodes dog scrap can spawn with.
# Setting type: Int32
# Default value: 100
# Acceptable value range: From 0 to 1000
Maximum Value = 100

[IronDog]

## Spawn weight (rarity) of the Autumnis Iron Dog scrap.
# Setting type: String
# Default value: Sierra:17,Offense:7,Assurance:10
Rarity = Sierra:17,Offense:7,Assurance:10

## Weight of the Autumnis Iron Dog scrap.
# Setting type: Single
# Default value: 1.35
# Acceptable value range: From 1 to 4
Weight = 1.35

## Minimum value that the Autumnis Iron Dog scrap can spawn with.
# Setting type: Int32
# Default value: 35
# Acceptable value range: From 0 to 1000
Minimum Value = 35

## Maximum value that the Autumnis Iron Dog scrap can spawn with.
# Setting type: Int32
# Default value: 57
# Acceptable value range: From 0 to 1000
Maximum Value = 57

## The maximum distance from the Iron Dog at which you will experience a large screen shake when the Iron Dog is dropped on the floor. Set it to -1 to disable it.
# Setting type: Single
# Default value: 3
# Acceptable value range: From -1 to 1000
Big Shake Distance = 3

## The maximum distance from the Iron Dog at which you will experience a small screen shake when the Iron Dog is dropped on the floor. Set it to -1 to disable it.
# Setting type: Single
# Default value: 6
# Acceptable value range: From -1 to 1000
Small Shake Distance = 6

[JacuPlushie]

## Spawn weight (rarity) of the Dog scrap.
# Setting type: String
# Default value: All:20
Rarity = All:20

## Weight of the Dog scrap.
# Setting type: Single
# Default value: 1.1
# Acceptable value range: From 1 to 4
Weight = 1.1

## Minimum value that the Dog scrap can spawn with.
# Setting type: Int32
# Default value: 50
# Acceptable value range: From 0 to 1000
Minimum Value = 50

## Maximum value that the Dog scrap can spawn with.
# Setting type: Int32
# Default value: 100
# Acceptable value range: From 0 to 1000
Maximum Value = 100

[RubberDuck]

## Spawn weight (rarity) of the Nethersomes duck scrap.
# Setting type: String
# Default value: All:2
Rarity = All:2

## Weight of the Nethersomes duck scrap.
# Setting type: Single
# Default value: 1
# Acceptable value range: From 1 to 4
Weight = 1

## Minimum value that the Nethersomes duck scrap can spawn with.
# Setting type: Int32
# Default value: 5
# Acceptable value range: From 0 to 1000
Minimum Value = 5

## Maximum value that the Nethersomes duck scrap can spawn with.
# Setting type: Int32
# Default value: 100
# Acceptable value range: From 0 to 1000
Maximum Value = 100

