## Settings file was created by plugin menstalker_yaboiduckisnickerbar v1.2.2
## Plugin GUID: snickerbarYaboiDucki.menstalker_yaboiduckisnickerbar

[Man stalker]

## The spawn chance weight for ExampleEnemy, relative to other existing enemies.
## Goes up from 0, lower is more rare, 100 and up is very common.
# Setting type: Int32
# Default value: 20
Spawn weight = 20

