## Settings file was created by plugin CountryRoadCreature v1.0.9
## Plugin GUID: wexop.country_road_creature

[General]

## Chance for Country road creature to spawn for any moon, example => assurance:100,offense:50 . You need to restart the game.
# Setting type: String
# Default value: Modded:40,ExperimentationLevel:20,AssuranceLevel:20,VowLevel:20,OffenseLevel:25,MarchLevel:25,RendLevel:30,DineLevel:30,TitanLevel:50,Adamance:50,Embrion:50,Artifice:55
SpawnRarity = Modded:40,ExperimentationLevel:20,AssuranceLevel:20,VowLevel:20,OffenseLevel:25,MarchLevel:25,RendLevel:30,DineLevel:30,TitanLevel:50,Adamance:50,Embrion:50,Artifice:55

