## Settings file was created by plugin MonkeyInjectionLibrary v1.0.2
## Plugin GUID: mattymatty.MonkeyInjectionLibrary

[DevelOptions]

## Enable development dll output
# Setting type: Boolean
# Default value: false
Enabled = false

## Folder where to write the modified dlls
# Setting type: String
# Default value: S:\common\Lethal Company\BepInEx\patchers\mattymatty-MonkeyInjectionLibrary
OutputPath = S:\common\Lethal Company\BepInEx\patchers\mattymatty-MonkeyInjectionLibrary

## Extension to use for the modified dlls
## ( Do not use .dll if outputting inside the BepInEx folders )
# Setting type: String
# Default value: .pdll
OutputExtension = .pdll

